<div class="question">
  <mat-card>
    <mat-card-content>
      <mat-card-title>
        ¿Es esta una pregunta?
      </mat-card-title>
    </mat-card-content>
  </mat-card>
</div>

<div class="responses">
  <mat-card>
    <mat-card-content>
      Los controles de este tipo de cosas significan o implican otro cierto
      número de incidencias relacionada con la incidencia padre pero no con las incidencias
      hijas que requerirán de un nivel mayor de soporte técnico.
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      Los controles de este tipo de cosas significan o implican otro cierto
      número de incidencias relacionada con la incidencia padre pero no con las incidencias
      hijas que requerirán de un nivel mayor de soporte técnico.
    </mat-card-content>
  </mat-card>
</div>


<div class="explanation">
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button>Siguiente</button>
  </div>
  <mat-card>
    <mat-card-content>
      <mat-card-title>
        Explicación:
      </mat-card-title>
      <p>
        asdasdasd
      </p>
    </mat-card-content>
  </mat-card>
</div>
